<!DOCTYPE html>
<html lang="en" ng-app='ploy'>
<head>
  <meta charset="UTF-8">
  <title>ploy</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <base href='/'></base>
</head>
<body>
  <div class='container'>
    <ng-view></ng-view>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.js"></script>
  <script src="/assets/app.js"></script>
</body>
</html>
